.main-cakes {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.main-cake {
    width: 256px;
    height: 256px;
}

.order-link {
    font-size: 30px;
    background-color: #dddddd;
    border-radius: 12px;
    color: #57275e;
    padding: 5px 50px 5px 50px;
}